<h1>Welcome to the Band page</h1>

<p>Add a band to the database:</p>

<form action="/bands" method="post">
  <label for="name">Band's name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add band</button>
</form>
