<h1>Welcome to the Band page</h1>

<p>Add a band to the database:</p>

<form action="/bands" method="post">
  <label for="name">Band's name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-info">Add band</button>
</form>

<% if @bands.any?() %>
  <p>Click on a band to see information about them and assign them to different venues:</p>

  <ul>
    <% @bands.each do |band| %>
      <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no bands added yet!</p>
<% end %>
