<html>
  <head>
    <title>Venue Master</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      -
      <a href="/bands">Add a band</a>
      -
      <a href="/venues">Add a venue</a>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
