<h1>Welcome to the Venue page</h1>

<p>Add a venue to the database:</p>

<form action="/venues" method="post">
  <label for="name">Venue name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add venue</button>
</form>
