<h1>Welcome to the Venue page</h1>

<p>Add a venue to the database:</p>

<form action="/venues" method="post">
  <label for="name">Venue name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-info">Add venue</button>
</form>

<% if @venues.any?() %>
  <p>Click on a venue to see information about it and add bands to it:</p>

  <ul>
    <% @venues.each do |venue| %>
    <li><a href="/venues/<%= venue.id() %>"><%= venue.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no venues added yet!</p>
  <% end %>
